@import "../../Styles/mixins";
@import "../../Styles/variables";

.itemTodo {
  @include display(space-between, center, row);
  width: 90%;
  margin: 10px 0;
  background-color: rgb(25, 24, 24);
  position: relative;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 0 black;
  padding: 10px;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity .8s;
  .checkTodo {
    @include display;
    text-align: center;
    margin: 0 10px;
    background-color: transparent;
    position: sticky;
    top: 1px;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }
  .containerText {
    width: 280px;
    min-height: 20px;
    max-height: 200px;
    position: relative;
    padding: none;
    margin: 5px 0;
    .titleNote{
      margin: 0 0 10px 0;
      // background-color: red;
    }
    .textCompleted, .incompleted {
        color: white;
    }
    .textCompleted {
      text-decoration: line-through;
      font-weight: $ExtraLight;
    }
    .incompleted {
      font-weight: $Thin;
    }
  }
  .date{
    // width: 70%;
    text-align: center;
    font-size: 10px;
    font-weight: $ExtraLight;
    position: absolute;
    top: 6%;
    right: 26px;
    // background-color: red;
  }
  .deleteTodo {
    margin: 0px 10px;
    background-color: transparent;
    position: sticky;
    top: 7px;
    cursor: pointer;
    color: white;
    font-size: 22px;
  }
}

.visibleToDos{
  opacity: 1;
}
.itemTodo::-webkit-scrollbar {
  width: 4px;
  background-color: #0E0D0D;
  transition: background-color .5s;
}
.itemTodo::-webkit-scrollbar-thumb {
  background-color: #ccc9cc;
  border-radius: 50px;
}
.notVisibleItem{
  opacity: 0;
  background-color: red;
}


.noteEdit{
  @include display(center,center, column);
  h2{
    width: 100%;
    text-align: start;
  }
  .containerInputs{
    width: 100%;
    min-height: 200px;
    // background-color: red;
    @include display(center, start, column);
    textarea{
      width: 56%;
      margin: 10px 0;
    }
    textarea::-webkit-scrollbar {
      width: 4px;
      background-color: #0E0D0D;
      transition: background-color .5s;
    }
    textarea::-webkit-scrollbar-thumb {
      background-color: #ccc9cc;
      border-radius: 50px;
    }
    input{
      margin: 10px 0;
    }
  }
}
.todoEdit{
  @include display(space-evenly,center, column);
}