@import "../../Styles/mixins";
@import "../../Styles/variables";

.itemTodo{
    @include display(space-between, center, row);
    width: 90%;
    min-height: 30px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    background-color: rgb(40, 39, 39);
    color: white;
    box-shadow: 10px 5px 15px 0px black;
    margin: 10px 0;
    padding: 10px 0;
    .checkTodo {
        margin: 0 10px;
        background-color: transparent;
        cursor: pointer;
    }

    .textCompleted {
        text-decoration: line-through;
        font-weight: $ExtraLight;
    }
    .incompleted {
        // min-width: 410px;
        // max-width: 100%;
        max-height: 100px;
        // height: auto;
        font-weight: $Thin;
        text-align: start;
        // padding: 10px 0;
    }

    .deleteTodo{
        background-color: transparent;
        cursor: pointer;
        color: white;
        font-size: 22px;
    }
}

