@import "../../Styles/mixins";
@import "../../Styles/variables";

.btnComponent{
    display: block;
    padding: 8px 7px;
    font-size: 14px;
    font-weight: $Thin;
    border: 1px solid white;
    background-color: black;
    // background-color: red;
    border-radius: 10px;
    color: white;
    transition: transform .3s, padding .5s;
    &:hover{
        padding: 8px 10px;
    }
}