@import "../../Styles/mixins";
@import "../../Styles/variables";

.viewToDo {
  @include area(100%, 100vh);
  @include display(center,center, row);
  background-color: #0e0d0d;
  color: white;
  .TodoList {
    @include area(1300px, 560px);
    @include display(center,center, column);
    background-color: red;
    .titleToDo{
      font-weight: $Thin;
      font-size: 80px;
      @include area(100%, auto);
      // background-color: gray;
      text-align: center;
    }
  }
}
