.viewToDo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  background-color: #242424;
  color: white;
  .TodoList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 1300px;
    min-height: 100vh;
    // background-color: red;
  }
}
