@import "../../Styles/mixins";
@import "../../Styles/variables";

.viewToDoList{
    @include area(580px, 550px);
    overflow-y: auto;
    max-height: 80vh;
    // overflow-x: auto;
    @include block;
    @include display(start, center, column);
    border: 1px solid gray;
    h1{
        width: 100%;
        text-align: center;
        font-weight: $Medium;
    }
    .containerTodos{
        @include display (start, center, column);
        width: 100%;
        min-height: 80vh;
        max-height: 80vh;
        overflow-y: auto;
        // background-color: red;
    }
}