@import "../../Styles/mixins";
@import "../../Styles/variables";

.viewToDoList{
    @include area(580px, 570px);
    @include block;
    border: 1px solid gray;
    h1{
        width: 100%;
        text-align: center;
        font-weight: $Medium;
    }
}