@import "../../Styles/mixins";
@import "../../Styles/variables";

.optionsComponent {
  @include display(center,center, column);
  @include area(150px, 50px);
  color: black;
  // background-color: blue;
  button{
    margin: 10px 0;
  }

  // transition: clip-path .5s, background-color .5s;
  // background-color: transparent;
  // clip-path: circle(10% at 85% 9%);
  // .btn{
  //   position: absolute;
  //   top: 0px;
  //   right: 5px;
  //   font-size: 25px;
  //   background-color: transparent;
  //   color: rgb(255, 253, 253);
  // }
}
.calendario{
  font-family: Arial, sans-serif;
  width: 100%;
  position: relative;
  text-align: center;
}

.calen{
  background-color: black;
  color: red;
}
.tiempo{
  background-color: black;
  color: red;
}

// .divActive{
    // clip-path: circle(100%);
    // animation-name: buttons;
    // animation-duration: 1s;
    // animation-delay: ;
    // background-color: transparent;
    // .btn{
        // color: black;
    // }
// }
// @keyframes buttons {
//   0% {
//     background-color: beige;
//   }
//   100%{
//     background-color: #0E0D0D;
//   }
// }