.optionsComponent {
  width: 200px;
  height: 300px;
  color: black;
  position: relative;
  background-color: transparent;
  clip-path: circle(10% at 85% 9%);
  transition: clip-path .5s, background-color .5s;
  .btn{
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 25px;
    background-color: transparent;
    color: rgb(255, 253, 253);
  }
}
.divActive{
    clip-path: circle(100%);
    background-color: beige;
    .btn{
        color: black;
    }
}